.title {
  font-size: 5vw;
  color: black;
  font-family: Montserrat;
  font-weight: bold;
  display: block;
  padding-top: 50px;

}
.logo {
  width: 20vw;
  display: inline-block;
  mix-blend-mode: multiply;
}

.main-logo {
  text-align: center;
}
.border-tab {
  display: inline-block;
  margin-right: 5%;
  margin-left: 5%;
  text-decoration: underline;
  font-family: arial;
  padding-top: 20px;
  padding-bottom: 20px;
}

.border {
  display: block;
  text-align: center;
  background-color: rgb(185, 185, 185);
  border-color: black;
  border-style: solid;
}

.lower-section {
  text-align: center;
  width: 100vw;
}

.container-top {
  background: url(House-pictures/Exterior-House-1.jpg);
  background-color:white;
  background-blend-mode: luminosity;
  background-repeat: no-repeat;
  background-size: 100vw;
  display: block;
  text-align: center;
}

.exterior-3 {
  margin-left: 0;
  margin-right: 0;
  width: 75%;
  border-style: solid;
  z-index: 1;
  position: relative;
}

.mission-title, .pricing-title {
display: inline-block;
font-size: 5vw;
font-weight: bold;
border-style: solid;
padding: 5px 50px;
background-color: rgba(185, 157, 114, .7);
border-radius: 50px;
}

.mission-paragraph, .pricing-paragraph, .pricing {
  font-size: 2vw;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  
}

.mission, .schedule-pricing{
  display: block;
  width: 100vw;

}

.border-tab:hover{
  cursor: pointer;
}


html {
  scroll-behavior: smooth;
}

.package-base, .mission-paragraph {
  border-style: solid;
  background-color: rgba(185, 156, 114, 0.726);
  width: 75%;
  display: inline-block;
  margin-bottom: 50px;
}



.pricing-paragraph {
  border-bottom: none;
}

body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.floating-background {
  background: linear-gradient(rgba(255,255,255, .3), rgba(255,255,255.3)), url("House-pictures/Exterior-House-3.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}
.arrow-right {
  width: 10vw;
  opacity: .7;
  z-index: 2;
  position: absolute;
  background-color: white;
  left: 60vw; 
  right: 0; 
  margin-inline: auto; 
  transform: translatey(20vw)
}

.arrow-left {
  width: 10vw;
  opacity: .7;
  z-index: 2;
  position: absolute;
  left: 0; 
  right: 60vw; 
  margin-inline: auto; 
  background-color: white;
  transform: translatey(20vw)
}

.image-box {
  width: 100%;
  height: 100%;
}

.arrow-left:hover {
  opacity: .9;
}

.arrow-right:hover {
  opacity: .9;
}

.gallery-pic {
  border-style: solid;
}

