.title {
  font-size: 5vw;
  color: black;
  font-family: Montserrat;
  font-weight: bold;
}
.logo {
  width: 20vw;
  display: inline-block;
  mix-blend-mode: multiply;
}

.main-logo {
  text-align: center;
}
.border-tab {
  display: inline-block;
  margin-right: 5%;
  margin-left: 5%;
  text-decoration: underline;
  font-family: arial;
  padding-top: 20px;
  padding-bottom: 20px;
}

.border {
  display: block;
  text-align: center;
  background-color: rgb(185, 185, 185);
  border-color: black;
  border-style: solid;
  border-bottom: 0;
}

.lower-section {
  text-align: center;
  background-color: rgb(117, 102, 82);
  width: 100vw;

}

.container-top {
  background-image: url(House-pictures/Exterior-House-1.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  width: 100vw;
}

.exterior-3 {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  border-bottom: solid;
  border-top: solid;
}

.mission-title, .pricing-title {
display: inline-block;
font-size: 5vw;
font-weight: bold;
border-style: solid;
padding: 5px 50px;
background-color: rgb(185, 157, 114);
border-radius: 50px;
}

.mission-paragraph, .pricing-paragraph, .pricing {
  font-size: 2vw;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 10px;
  margin-right: 10px;
  
}

.mission, .schedule-pricing{
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  
}

.border-tab:hover{
  cursor: pointer;
}

.interior-1,.exterior-2 {
  width: 50%;
  border-bottom: solid;
}

html {
  scroll-behavior: smooth;
}

.package-base, .mission-paragraph {
  border-style: solid;
  background-color: rgb(185, 157, 114);
  width: 75%;
  display: inline-block;
  margin-bottom: 10px;
}

.twin-pictures, .picture-collage {
  border-top: solid;
}

.picture-collage {
  width: 100%;
  display: inline-block;
  background-color: black;
}

.interior-4, .interior-3 {
  width: 50%;
}

.interior-5,.interior-6,.interior-2,.exterior-1 {
  float:left;
  width: 25%;
}

.pricing-paragraph {
  border-bottom: none;
}
