body {
  margin-top: 0;
  margin-bottom: 0;

}

.title {
  font-size: 10vw;
  color: black;
  font-family: Montserrat;
}
.logo {
  width: 5vw;
  display: inline-block;
}

.main-logo {
  text-align: center;
  vertical-align: top;
  position: relative;
  mix-blend-mode: multiply;
}
.border-tab {
  display: inline-block;
  margin-right: 5%;
  margin-left: 5%;
  text-decoration: underline;
  font-family: arial;
  padding-top: 20px;
  padding-bottom: 20px;
}

.border {
  display: block;
  text-align: center;
  background-color: silver;
  border: solid;
  border-color: black;
}

img {
  width: 75vw;
}
.pictures {
  display: inline-block;
  vertical-align: top;
}
.all-pics {
  display: block;
  text-align: center;
  background-color: rgb(142, 171, 204);
  border-style: solid;
  border-top: none;
}

.container-top {
  background-image: url(House-pictures/Exterior-House-1.jpg);
  background-repeat: no-repeat;
  background-size: 500vw;
}

.exterior-3 {
  width: 200vw;
  display: block;
}

.mission-title {
font-size: 5vw;
font-weight: bold;
}

.mission-paragraph {
  font-size: 2vw;
  text-align: center;
}

.mission {
  display: block;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  position: relative;
  padding-left: 200px;
  padding-right: 200px;

}

.border-tab:hover{
  cursor: pointer;
}
